# ========================================================================
#                          GitIgnore for .gitconfig
# ========================================================================

# Local Git Config changes
.gitconfig_local
